<!doctype html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Angular Workshop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/screen.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/main.js"></script>
<!--    <script>
     angular.module("myApp", []).run(function($http){
         window.http = $http;
     });
    </script>
-->
</head>
<body><!-- ng-app="myApp" -->  <!-- directive (attribute) "teaches your browser new tricks" - indicates angular managed application -->
<!-- this creates equiv of var $rootScope = {} -->

<!-- NOTE: you could put the ng-app for example on the div - so only that div is managed by angular.  But only
     one ng-app per page -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Get 'em Done!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ng-app="myApp">
        <div class="starter-template">
            <h1>Angudone</h1>
            <!-- {{ }} evaluation directive ... e.g. {{ 2 + 3 }} displays 5 -->
            <!-- binding with ng-model outside of a controller is doing $rootScope.user = { firstname: ''} -->
            <div class="lead" ng-controller="FirstController">
                <!-- looks up in current scope, which is in controller -->
                <input type="text"
                       ng-model="searchTxt.txt" />

                <ul>
                    <!-- filter to items that match searchTxt input above with .txt attribute matching (so no matching on time) -->
                    <!-- sort by the done attribute; minus sign means descending (ascending by default) -->
                    <li ng-repeat="t in todos | filter:searchTxt | orderBy: '-done'" >
                        <input type="checkbox"
                                ng-model="checked"
                                ng-change="markDone(checked, t)"
                                ng-checked="t.done"/>  <!--  truthy -- done is a time, so if it's set in data, checkbox is checked -->
                        {{ t.txt }}  <!-- $first, $last, $middle - booleans valu based on position in collection -->
                    </li>
                </ul>
                <form novalidate="" name="add">
                    <!-- use nt.newTodo instead of just newTodo, so that controller function can modify the value inside
                    the object, since primitives are passed by value -->
                    <input type="text"
                           ng-model="nt.newTodo"
                           required
                           placeholder="I want to ..." />

                    <!-- required = HTML 5 attribute; form can't be submitted if blank -->

                    <button ng-click="addTodo(nt)"
                            ng-disabled="add.$invalid">Add</button>
                </form>
                {{ todos }}
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script></body>
</html>
